<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>统一支付</title>
    <link rel="stylesheet" th:href="@{/easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" th:href="@{/easyui/themes/icon.css}"/>

    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/panel.js}"></script>
</head>
<body class="easyui-layout">

<div data-options="region:'north',border:false" style="height:40px;background:#B3DFDA;"
     th:include="fragments/header :: header"/>

<div data-options="region:'west',split:true,title:'导航'" style="width:240px;padding:10px;"
     th:include="fragments/body_left :: left"/>

<div data-options="region:'center'" class="easyui-tabs" id="body-center"/>

<div data-options="region:'south',border:false" id="content-footer" style="height:30px;background:#A9FACD;padding:5px;"
     th:include="fragments/footer :: footer">
</div>
</body>
</html>